.background {
    background-color: #E5E5E5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxPrice {
    display: flex;  
}

.priceCard {
    margin-left: 70px;
}